body {
	background: #d3b795;
}

#expertise {
	background-color: #d3b795;
	width: 350px;
	height: 250px;
	top: 10%;
	left: 10px;
	position: absolute;
}

#genderRatio {
	background-color: #d3b795;
	width: 250px;
	height: 250px;
	top: 10%;
	right: 0%;
	position: absolute;
}
#wordcloud{
	background-color: #ffffff;
	width: 600px;
	height:600px;
	bottom: 5%;
	left: 50%;
	position: absolute;
}

#brewMethod {
	background-color: #d3b795;
	width: 300px;
	height: 400px;
	top: 0%;
	right:20%;
	position: absolute;
}

#favoriteDrink {
	background-color: #d3b795;
	width: 300px;
	height: 300px;
	top: 10%;
	left:25%;
	position: absolute;
}
#sunburst{
	background-color: #d3b795;
	width: 350px;
	height:350px;
	bottom: 0%;
	left: 0%;
	position: absolute;
}
