body {
	background: #d3b795;
}

#pictrue1 {
	background-color: #d3b795;
	width: 500px;
	height: 400px;
	top: 10%;
	left: 10px;
	position: absolute;
}

#pictrue2 {
	background-color: #d3b795;
	width: 200px;
	height: 200px;
	top: 10%;
	right: 10px;
	position: absolute;
}

#pictrue3 {
	background-color: #d3b795;
	width: 500px;
	height: 500px;
	top: 10%;
	right:20%;
	position: absolute;
}
